<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up for M Tracking</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/angular-bootstrap-calendar.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/xeditable.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

  </head>

 

  <body style="background-color: black;" ng-app="SignupModule" ng-controller="SignupController" ng-cloak>

      
      <div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Signup:</h1>
    <form id="sign-up-form" name="signup" ng-submit="submitSignupForm()">
      <div class="input-container">
        <input type="text" placeholder="" name="firstname" ng-model="signupForm.firstname" required="required"/>
        <label for="Username"  >Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" placeholder="" name="mobile" ng-model="signupForm.mobile" required="required"/>
        <label for="Mobile" >Mobile</label>
        <div class="bar"></div>
      </div>
        <div class="input-container">
        <input type="text" placeholder="" name="email" ng-model="signupForm.email" required="required"/>
        <label for="username@domain.com"  >username@domain.com</label>
        <div class="bar"></div>
      </div>
        <div class="input-container">
        <input type="password"  name="password" ng-model="signupForm.password" required="required"/>
        <label for="EnterPassword"  >Enter Password</label>
        <div class="bar"></div>
      </div>
        <div class="input-container">
        <input type="password" placeholder="" name="confirmation" ng-model="signupForm.confirmation" required="required"/>
        <label for="Re-EnterPassword"  >Re-Enter Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button  type="submit"><span>Go</span></button>
      </div><br>
        <div></div>
<!--      <div class="footer"><a href="#">Forgot your password?</a></div>-->
    </form>
  </div>
  <div class="card alt">
      <div class="toggle"></div>
    
   
  </div>
</div>


<!--     S I G N U P  F O R M  
    <div class="container-fluid row" >
<div class="col-md-9 col-sm-7 col-xs-11"></div>
    <div class=" col-md-3 col-sm-5 col-xs-11 fom">
  <form ng-submit="" id="sign-up-form" name="signup">
      <div class="form-heading" style="color: black;font-style: oblique;font-weight: bold;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create an Account</h3></div>

   T I T L E 


   FIRST N A M E 

         checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)
        
  <div  class="form-group row">
      <div class="col-sm-6 col-xs-6" ng-class="{'has-error':signup.firstname.$invalid &&
                              signup.firstname.$dirty}" >
    <input type="text" class="form-control" placeholder="First Name" name="firstname" ng-model="signupForm.firstname" ng-maxlength="50" required>
     Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
          and/or maxlength) 
          <span class="help-block has-error" ng-if="signup.firstname.$dirty">
            <span ng-show="signup.firstname.$error.required">First name is required.</span>
            <span ng-show="signup.firstname.$error.maxlength">The first name cannot be more than 50 characters.</span>
          </span>
    </div>
     LAST N A M E 
    <div class="col-sm-6 col-xs-6" ng-class="{'has-error':signup.lastname.$invalid &&
                              signup.lastname.$dirty}" >
    <input type="text" class="form-control" placeholder="Last Name" name="lastname" ng-model="signupForm.lastname" ng-maxlength="50" required>
          Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
          and/or maxlength) 
          <span class="help-block has-error" ng-if="signup.lastname.$dirty">
            <span ng-show="signup.lastname.$error.required">Last name is required.</span>
            <span ng-show="signup.lastname.$error.maxlength">The last name cannot be more than 50 characters.</span>
          </span>
    </div>
  </div>
    M O B I L E    N U M B E R 
  <div class="form-group" ng-class="{'has-error':signup.mobile.$invalid &&
                              signup.mobile.$dirty}">
    <input type="number" class="form-control" style="scroller:false;" placeholder="Mobile" name="mobile" ng-model="signupForm.mobile" ng-maxlength="10" ng-minlength="10" required>
    <span class="help-block has-error" ng-if="signup.lastname.$dirty">
            <span ng-show="signup.mobile.$error.required">Mobile No. is required.</span>

          </span>
  </div>
 E M A I L 
  <div class="form-group" ng-class="{'has-error':signup.email.$invalid &&
                              signup.email.$dirty}">
    <input type="email" class="form-control" placeholder="username@domain.com" name="email" ng-model="signupForm.email" required >
    <span class="help-block has-error" ng-if="signup.email.$dirty">
            <span ng-show="signup.email.$error.required">Email address is required.</span>
            <span ng-show="signup.email.$error.email">Not a valid email address.</span>
          </span>
  </div>
     P A S S W O R D 
  <div class="form-group" ng-class="{'has-error':signup.password.$invalid &&
                              signup.password.$dirty}">
    <input type="password" class="form-control" placeholder="Enter Password" name="password" ng-model="signupForm.password" required ng-minlength="6" compare-to="signupForm.confirmation" required>
    <span class="help-block has-error" ng-if="signup.password.$dirty">
            <span ng-show="signup.password.$error.required">Password is required.</span>
            <span ng-show="signup.password.$error.minlength">Password must be at least 6 characters.</span>
          </span>
  </div>
    C O N F I R M  P A S S W O R D 
  <div class="form-group" ng-class="{'has-error':signup.confirmation.$invalid &&
                              signup.confirmation.$dirty}">
    <input type="password" class="form-control" placeholder="Re-Enter Password" name="confirmation" ng-model="signupForm.confirmation" required>
    <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
            <span ng-show="signup.password.$error.compareTo">Password must match.</span>
            <span ng-show="signup.confirmation.$error.required">Confirmation password is required.</span>
          </span>
  </div>
   G E N D E R 
   <div  class="form-group" ng-class="{'has-error':signup.gender.$invalid &&
                              signup.gender.$dirty}">
    <select class="form-control" id="gender" ng-model="signupForm.gender" required>
      <option value="">Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
       </select>
       <span class="help-block has-error" ng-if="signup.gender.$dirty">
            <span ng-show="signup.gender.$error.required">Gender is required.</span>

          </span>
  </div>
   D A T E O F B I R T H 



	  <input type="text" class="form-control" id="userID" ng-model="signupForm.userID" /> 
        Disable signup button until the form has no errors 

  <button ng-click="submitSignupForm()" class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
        <span ng-show="!signupForm.loading">Create Account</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading">Preparing your account...</span>
      </button>

  <input type="hidden" name="_csrf" value="<%= _csrf %>" /></div>
</form>
</div>-->






    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-bootstrap-calendar-tpls.min.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/angular-ui.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/dependencies/xeditable.js"></script>
    <script src="/js/homepage/homepageController.js"></script>
    <script src="/js/private/dashboard/dashboardController.js"></script>
    <script src="/js/signup/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>

